# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Unit test / coverage reports
.pytest_cache/
.coverage

# Temporary audio and media
*.mp3
*.wav

# Environments
.venv/
venv/
env/

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
